.selector-wrapper {
  position: relative;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px; }
  .selector-wrapper .selector-list {
    display: flex;
    flex: 5;
    flex-flow: wrap row;
    justify-content: flex-start; }
    .selector-wrapper .selector-list .selector-item {
      width: 11.11111%; }
      .selector-wrapper .selector-list .selector-item.active a, .selector-wrapper .selector-list .selector-item.current-active a {
        color: white;
        background-color: #00b0d9; }
        .selector-wrapper .selector-list .selector-item.active a::after, .selector-wrapper .selector-list .selector-item.active a::before, .selector-wrapper .selector-list .selector-item.current-active a::after, .selector-wrapper .selector-list .selector-item.current-active a::before {
          width: 50%;
          background-color: #0084c5;
          height: 5px; }
      .selector-wrapper .selector-list .selector-item a {
        position: relative;
        display: block;
        padding: 18px 0;
        text-align: center;
        background-color: white;
        transition: background-color .4s;
        white-space: nowrap; }
        .selector-wrapper .selector-list .selector-item a i {
          margin-right: 10px; }
        .selector-wrapper .selector-list .selector-item a::after, .selector-wrapper .selector-list .selector-item a::before {
          content: "";
          position: absolute;
          top: 0;
          height: 0;
          width: 0;
          left: 50%;
          transform: translateY(-100%);
          background-color: #0084c5;
          transition: all .5s; }
        .selector-wrapper .selector-list .selector-item a::after {
          left: auto;
          right: 50%; }

@media (max-width: 1200px) {
  .selector-wrapper .selector-list {
    flex-flow: row wrap; }
    .selector-wrapper .selector-list .selector-item a {
      white-space: nowrap;
      padding: 18px 10px; } }

@media (max-width: 850px) {
  .selector-wrapper .selector-list .selector-item {
    width: 50%;
    text-align: center; }
    .selector-wrapper .selector-list .selector-item a {
      padding: 18px 10px; } }

@media (max-width: 560px) {
  .selector-wrapper .selector-list .selector-item a {
    padding: 12px 25px;
    font-size: .9em; }
    .selector-wrapper .selector-list .selector-item a::after {
      height: 3px; } }
