.btn-box {
  margin: 60px 0 50px 0 !important;
  text-align: center !important; }
  .btn-box button {
    font-size: .8em; }

@media (max-width: 560px) {
  .btn-box {
    margin: 30px 0 20px 0 !important; }
    .btn-box button {
      font-size: .5em; } }
