$appBgColor: #efefef;
$appFont: Noto Sans kr, sans-serif;

html{
    height :100%;
}
body {
    height: auto;
}
html, body, ul, li, p{
    margin:0;
    padding: 0;
    list-style: none;
}
body {
    font-family: $appFont;
    background-color: $appBgColor;
}
a {
    text-decoration: none;
    list-style: none;
    color: inherit;
}
.contents {
    position: relative;
    z-index: 1;
}
// 클래스 색상
.color-red {
    color: red;
}
.color-blue {
    color: blue;
}
.color-gray {
    color: darkgray;
}
// 클래스 폰트
.font-bold {
    font-weight: bold;
}