@mixin loginContainer {
  //display :flex;
  width: 100%;
  //height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@mixin loginBox {
  max-width: 300px;
  margin-bottom: 10px;
}

@mixin logoBox {
  margin-bottom: 50px;
  //margin-top: -70px;
  //margin-bottom: 70px;
  text-align: center;
  a{
    display: inline-block;
    img {
      margin:0 auto;
      display: block;
    }
  }
}
html {
  height: 100%;
}
body {
  height: 100% !important;
}
.contents {
  height: 100%;
  padding-top: 150px;
  background-color: #efefef;
}
.login-container {
  @include loginContainer;
  .login-wrapper {
    .logo-box {
      @include logoBox;
    }
  }
}

//  Login After start
.user-wrapper {
  .user-box {
    background-color: white;
    max-width: 340px;
    margin:0 auto;
    box-shadow:-3px 3px 3px rgba(0,0,0,0.2), 3px 3px 3px rgba(0,0,0,0.32);
    border-radius: 6px;
    padding: 30px;
    .user-box-header {
      display : flex;
      justify-content: space-between;
      div {
        display: flex;
        align-items: center;
        span {
          font-size: 1em;
          font-weight: bold;
          color: #3d3c44;
        }
      }
    }
    .user-box-body {
      margin-top: 20px;
      border-top: 2px solid #dfdfdf;
      padding: 5px;
      .btn-cell-box {

        .btn-cell {
          margin-top: 20px;
          a {
            position: relative;
            background-color: #214077;
            border:1.5px solid #143363;
            color: white;
            display: block;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            transition: background-color .3s;
            i {
              margin-right:10px;
              transition: margin-right .3s;
            }
            &:hover {
              background-color: inherit;
              color: #214077;
              i {
                margin-right: 0;
              }
            }

          }
        }
      }
    }
  }
}