@mixin tableTag {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #dfdfdf;
  border-left: 0;
  border-right: 0;
}
@mixin thTag {
  width: 30%;
  text-align: center;
  font-size: .9em;
  border-right: .4px solid #dfdfdf;
}
@mixin tdTag {
  font-size: .8em;
  padding-left: 30px;
}
@mixin selectDropdown {
  margin: 0;
  font-size: inherit;
  span {
    font-size: inherit;
  }
}
.table-pay-form {
  table {
    @include tableTag;
    tr {
      th {
        @include thTag;
      }
      td {
        @include tdTag;
        .input-field {
          margin: 0;
          .select-dropdown {
            @include selectDropdown;
          }
        }
        .small-description {
          span {
            font-size: .9em;
            color: red;
          }
        }
      }
    }
  }
}
@media(max-width: 1200px) {
 .contents {
   .contents-box {
     //margin-top: 140px;
   }
 }
}